.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 14px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 210px;
  padding: 10px;
  overflow-wrap: break-word;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 200px;
}

.filter-btn {
  margin: 10px ;
  cursor: pointer;
}
